@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2B2638;
  --foreground: #171717;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}